source https://www.nuget.org/api/v2
storage: none

nuget FSharp.Core redirects:force, content:none
nuget Giraffe >= 3.6 lowest_matching:true
nuget Thoth.Json.Net

nuget Expecto ~> 8.12.0
nuget YoloDev.Expecto.TestSdk  ~> 0.8.0
nuget Microsoft.NET.Test.Sdk ~> 16.3.0

nuget Microsoft.AspNetCore.App ~> 2.2.7
nuget TaskBuilder.fs ~> 2.1.0

group netcorebuild
    source https://www.nuget.org/api/v2
    framework: netstandard2.0

    nuget NETStandard.Library.NETFramework
    nuget Fake.DotNet.Cli
    nuget Fake.DotNet.Paket
    nuget Fake.Core.Target
    nuget Fake.Core.Process
    nuget Fake.Core.String
    nuget Fake.Core.ReleaseNotes
    nuget Fake.IO.FileSystem
    nuget Fake.Tools.Git
    nuget Fake.JavaScript.Yarn
    nuget Fake.Api.GitHub
    nuget Fake.DotNet.Cli